[pull]
	rebase = false
[user]
	email = ryan@rally.space
	name = Ryan Struhl
	signingkey = 6B374171E1D3C245
[commit]
	gpgsign = true
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[credential]
	helper = osxkeychain
[maintenance]
  auto = false
  strategy = incremental
